$wisp-pink: #efe9e7;
$seal-brown: #3D1101;
$Pumpkin: #F56C23;

$font-m: 18px;
$font-l: $font-m + 6;
$font-s: $font-m - 4;

$JhengHei: Microsoft JhengHei;
$Roboto: Roboto-light;
$NotoSans: NotoSansCJKtc-Black;
$PinFang: PingFangTC-Regular;